.ipynb_checkpoints
tp/sql-tp-book/_build
sql-tp-book/_build
sql-tp-book/_build/html
sql-tp-book/_build/latex
_build/
.ipynb_checkpoints/
.DS_Store
_config.yml
_toc.yml
sql-tp-book/_config.yml
sql-tp-book/_toc.yml    